// !!! TESTING PURPOSES ONLY
@mixin column_style($bg) {
  background-color: $bg;
  outline: 2px solid darken($bg, 10%);
  text-align: center;
  font-family: $default-font;
  padding: 10px 0;
  color: black;
}

@mixin add_scrollbar($thumbColor: #888, $thumbColorHover: #555) {
  &::-webkit-scrollbar {
    width: 0.1px;
  }

  &::-webkit-scrollbar-track {
    // background: #f1f1f1;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $thumbColorHover;
  }
}

@mixin customize_progressbar_value_and_bar($value) {
  .progress-completed {
    width: 50%;
    height: 100%;
    background-color: $value;
    border-radius: 12px;
  }
}

@mixin add_control_vars($control: "") {
  --active: #ed1c25;
  --active-inner: #fff;
  --focus: 2px rgba(237, 28, 37, 0.3);
  --border: #bbc1e1;
  --border-hover: #ed1c25;
  --background: #fff;
  --disabled: #dfdede;
  --disabled-inner: #e1e6f9;
  --disabled-border: #dfdede;
  -webkit-appearance: none;
  -moz-appearance: none;
  --checkbox-hover: #f9f9f9;

  @if $control == "switch" {
    --active: #13a500;
    --border-hover: #13a500;
    --background: #9c9898;
    --disabled: #f9f9f9;
    --disabled-inner: #9c9898;
    --focus: 2px rgba(19, 165, 0, 0.3);
    --border: #fff;
  }
}

@mixin add_load_step($pct) {
  #{ $pct }% {
    width: ($pct * 1%);
  }
}
